<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Udhay">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Navigation</a>
        <a href="#">Location</a>

    </div>
    <div class="Kumar">
        <h2>CSS Template</h2>
        <p>A topnav content of the footer</p>
    </div>
    <div class="Footer"></div>
        <p>Footer</p>
    </div>
</body>
</html>